<h3>Add/Update Patient form</h3>

<span>{{message}}</span>

<form class="form-horizontal" role="form">

<div class="container">
	<div class="row form-group">
		<div class="col-md-2">
			<label for="firstName" class="control-label">Name</label>
		</div>
		<div class="col-md-3">
			<input class="form-control" id="firstName" placeholder="First Name" data-ng-model="newPatient.firstName">
		</div>
		<div class="col-md-3">
			<input class="form-control" id="lastName" placeholder="Last Name" data-ng-model="newPatient.lastName">
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<label for="dob" class="control-label">Date of Birth</label>
		</div>
		<div class="col-md-3">
			<p class="input-group">
				<input id="dob" type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="newPatient.dob" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        	    <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              	</span>
            </p>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<label for="Gender" class="control-label">Gender</label>
		</div>
		<div class="col-md-3">
			<div class="radio">
			<label> <input type="radio" name="gender1"
				id="gender" value="Male" data-ng-model="newPatient.gender" checked > Male
			</label>
			<label> <input type="radio" name="gender1"
				id="gender" value="Female" data-ng-model="newPatient.gender"> Female
			</label>
		</div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<label for="inputEmail3" class="control-label">Mobile Number</label>
		</div>
		<div class="col-md-4">
			<input class="form-control" id="inputMobile" placeholder="Mobile" data-ng-model="newPatient.mobile">
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<label for="inputEmail3" class="control-label">Phone Number</label>
		</div>
		<div class="col-md-4">
			<input class="form-control" id="inputPhone" placeholder="Phone" data-ng-model="newPatient.phone">
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2">
			<label for="inputEmail3" class="control-label">Email</label>
		</div>
		<div class="col-md-4">
			<input class="form-control" id="inputEmail3" placeholder="Email" data-ng-model="newPatient.email">
		</div>
		<div class="col-md-6"></div>
	</div>
	<div class="row form-group">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-success" data-ng-click='saveNewPatientRecord()'>Save Record</button>
		</div>
		<div class="col-md-8"></div>
	</div>
</div>


	<span>{{newPatient}}</span>
</form>



