html {
	font-family: Arial, "Trebuchet MS", Verdana, Tahoma;
	text-decoration: none;
	vertical-align: baseline;
}

label{
	font-weight: bold;
	color: #003366;
}

.headerText {
	font-size: 26px;
	color: gray;
	padding: 20 0 0 30;
}

.container {
	width: 100%;
	height: 100%
}

.header{
	width:100%;
	height: 80px;
}

.sideMenuColumn {
	padding: 10 0 0 10;
	vertical-align: top;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.formError{
	font-size: 11px;
	color: red;
}

/* Table styling start */

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-highlight-all {
    overflow: hidden;
    z-index: 1;
}
.zui-table-highlight-all tbody td, .zui-table-highlight-all thead th {
    position: relative;
}
.zui-table-highlight-all tbody td:hover::before {
    background-color: #CCE7E7;
    content:'\00a0';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
}
.zui-table-highlight-all tbody td:hover::after {
    background-color: #CCE7E7;
    content:'\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}
/* Table styling ends */
