<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd-HH:mm:ss} [%t] %-5level %c{1.} - %m%n" />
		</layout>
	</appender>
	<appender name="FA" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="c:/logs/matri-manager.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="maxFileSize" value="10MB" />
		<param name="Threshold" value="WARN" />
		<param name="maxBackupIndex" value="30" />
		<layout class="org.apache.log4j.EnhancedPatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd-HH:mm:ss} [%t] %-5level %c{1.} - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework">
		<level value="DEBUG" />
		<appender-ref ref="CA" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CA" />
		<appender-ref ref="FA" />
	</root>
</log4j:configuration>