body {
	font-size: 12px;
}

.site-name {
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
		AppleGothic, sans-serif;
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h1 {
	font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
		AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
		AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
		AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
		AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}


 .ui-layout-pane-north.ui-widget-content{
 border: 0;
}

 .ui-layout-pane-south.ui-widget-content{
 border: 0;
}

 .ui-layout-pane-east.ui-widget-content{
 border: 0;
}

 .ui-layout-pane-west.ui-widget-content{
 border: 0;
}

 .ui-layout-pane-center.ui-widget-content{
 border: 0;
}


/* file props grid columns */
.filePropsCol1{
	width: 80px;
	font-weight: bold;
	color:#0084C7;
}

.filePropsCol2{
	width: auto;
}

tr.filePropsRow  td{
	 padding-bottom: 5px;
	 text-align: left;
	 vertical-align: top;
}
